<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>CNVR Práctica final</display-name>
  <listener>
    <listener-class>servlets.StartUpListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>consultarsaldo</servlet-name>
    <servlet-class>
      servlets.ConsultarSaldoServlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>efectivo</servlet-name>
    <servlet-class>
      servlets.EfectivoServlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>crearcuenta</servlet-name>
    <servlet-class>
      servlets.CrearServlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>borrarcuenta</servlet-name>
    <servlet-class>
      servlets.BorrarServlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>borrartodo</servlet-name>
    <servlet-class>
      servlets.BorrarTodoServlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>transferir</servlet-name>
    <servlet-class>
      servlets.TransferServlet
    </servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EfectivoServlet</servlet-name>
  	<display-name>EfectivoServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.EfectivoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CrearServlet</servlet-name>
  	<display-name>CrearServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.CrearServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BorrarServlet</servlet-name>
  	<display-name>BorrarServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.BorrarServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TransferServlet</servlet-name>
  	<display-name>TransferServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.TransferServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>default</servlet-name>
  	<display-name>MainServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.MainServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>consultarsaldo</servlet-name>
    <url-pattern>/balance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>efectivo</servlet-name>
    <url-pattern>/efectivo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>crearcuenta</servlet-name>
    <url-pattern>/crearcuenta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>borrarcuenta</servlet-name>
    <url-pattern>/borrarcuenta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>transferir</servlet-name>
    <url-pattern>/transferencia</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>borrartodo</servlet-name>
    <url-pattern>/deleteall</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>default</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
 
</web-app>
